{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form class="form" action="{% url 'register:login' %}" method="post">
        {% csrf_token %}
        <div class="card card-login mb-3">
            <div class="card-header card-header-primary text-center">
                <h4 class="card-title">
                    <strong>Login</strong>
                </h4>
            </div>
            <div class="card-body">
                <input type="hidden" name="next" value="{{ next }}">
                {{ form | crispy }}
            </div>
            <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-primary btn-link btn-lg">Login</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-6">
            <a href="{% url 'register:choose-type' %}" class="text-light">
                <small>Register
                </small>
            </a>
        </div>
        <div class="col-6 text-right"></div>
    </div>
{% endblock %}